<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="referrer" content="no-referrer">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ t.siteDescr | tfb.siteDescr }}{% endif %}">
	<link type="text/plain" rel="author" href="{{ "/humans.txt" | relative_url }}" />

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | replace:'index.en.html','' | replace:'index.de.html','' | prepend: site.baseurl | prepend: site.url }}">

	{% include scripts.html %}

	{% include favicon.html %}
</head>
