<link rel="stylesheet" href="{{ "/assets/css/main.css" | append: "?v1.0" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/materialize.css" | append: "?v1.0.0" | relative_url }}">
<link rel="stylesheet" media="print" href="{{ "/assets/css/print.css" | append: "?v1.0" | relative_url }}">

<script src="{{ "/assets/js/main" | append: site.jsend | append: "?v1.0" | relative_url }}" charset="utf-8" defer="true"></script>
<noscript>
    <link rel="stylesheet" href="{{ "/assets/css/noscript.css" | append: "?v1.0" | relative_url }}">
</noscript>

<!--Import Google Icon Font: TODO LOCAL! -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize JS-->
<script src="{{ "/assets/js/materialize/bin/materialize" | append: site.jsend | append: "?v1.0" | relative_url }}" charset="utf-8" defer="true"></script>
